<form name="form">
  <div class="main intro">
    <div class="panel">
      <div class="section">
        <div class="row3">
          <h1>Ticks and Crosses</h1>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <input type="text" 
                 placeholder="Room Name" 
                 ng-model="room.name" 
                 autocomplete="off" 
                 minlength="4" 
                 maxlength="20" 
                 required>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <button type="submit" ng-click="form.$valid && tutor()" class="button2">Create New Room</button>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row3">
          <div>Enter a name for your room. The code will be automatically created.</div>
        </div>
      </div>
      <div class="section-gap"></div>
      <div class="section">
        <div class="row">
          <a ng-href="./about">About this app</a>
        </div>
      </div>
    </div>
  </div>
</form>
